<div class="row">
    <!-- "formulario" has a third part of the width of the screen-->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- name||position,etc="": synchronizes with de corresponding Employee propierty. -->
                <!-- [(ngModel)] = "employeeService.selectedEmployee": double data binding. -->
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                    <!-- to determinate, if it's an editing or creating method (will replace it in .ts?) -->
                    <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        name="name" 
                        #name="ngModel"
                        placeholder="Enter your FullName"
                        [(ngModel)] = "employeeService.selectedEmployee.name"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        name="position"
                        #name="ngModel"
                        placeholder="Enter your Position"
                        [(ngModel)] = "employeeService.selectedEmployee.position"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        name="office"
                        #name="ngModel"
                        placeholder="Enter your Office"
                        [(ngModel)] = "employeeService.selectedEmployee.office"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control" 
                        name="salary"
                        #name="ngModel"
                        placeholder="Enter your Salary"
                        [(ngModel)]="employeeService.selectedEmployee.salary"
                        >
                    </div>
                    <!-- (click)="resetForm(employeeForm)" -->
                    <button class="btn btn-primary mr-2" type="reset">
                        Clean
                    </button>
                    <!-- at Save, will process, all the "#employeeForm", calling at addEmployee -->
                    <button type="submit" class="btn btn-secondary">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.office}}</td>
<!-- with this button, from here, I store and send "employee"attributes to component.ts -->
                    <button 
                    class="btn btn-secondary btn-sm">
                        <i class="material-icons" 
                        (click)="editEmployee(employee)">edit
                        </i>
                    </button>
                    <button 
                    class="btn btn-danger btn-sm" 
                    (click)="deleteEmployee(employee._id)">
                        <i class="material-icons">delete
                        </i>
                    </button>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- #name="ngModel"
(click)="resetForm(employeeForm)" -->