<div class="row">
    <!-- "formulario" has a third part of the width of the screen-->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- name/position/./.="": synchronizes with de corresponding Employee propierty. -->
                <!-- at submit, will process, all the "employeeForm", calling at addEmployee -->
                <!-- [(ngModel)] = "employeeService.selectedEmployee": double data binding. -->
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        name="name" 
                        placeholder="Enter your FullName"
                        [(ngModel)] = "employeeService.selectedEmployee.name"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        name="position"
                        placeholder="Enter your Position"
                        [(ngModel)] = "employeeService.selectedEmployee.position"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        name="office"
                        placeholder="Enter your Office"
                        [(ngModel)] = "employeeService.selectedEmployee.office"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control" 
                        name="salary"
                        placeholder="Enter your Salary"
                        [(ngModel)]="employeeService.selectedEmployee.salary"
                        >
                    </div>
                    <button class="btn btn-primary mr-2">
                        Clean
                    </button>
                    <button class="btn btn-secondary">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.office}}</td>
                    <button class="btn btn-secondary btn-sm"><i class="material-icons">edit</i></button>
                    <button class="btn btn-danger btn-sm"><i class="material-icons">delete</i></button>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- #name="ngModel"
(click)="resetForm(employeeForm)" -->